*{
    box-sizing: border-box;
}
ion-icon {
    display: none;
}
body{
    background-color: #eeeeee;
    width: 100%;
    overflow-x: hidden;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:#CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #ffffff;
    margin-left: 21px;
}
header p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#ffffff;
    margin-left: 21px;
}
.Prato-Principal{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    margin-left: 19px;
    margin-right: 50px;
    box-sizing: border-box;
}
h3{
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-top: 27px;
    margin-left: 19px;
}
.Box{
    min-width: 172px;
    height: 216px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-right: 16px;
}
.Inner-Box{
    margin: 0 15px;
    max-width: 144px;
}
.Inner-Box img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 18px;
    margin-bottom: 8px;
}
.Inner-Box h4{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.Inner-Box h5{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin: 4px 0px;
}
.Inner-Box h6{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.Bebida{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    margin-left: 19px;
    margin-right: 19px;
}
.Sobremesa{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    margin-left: 19px;
    margin-bottom: 108px;
    margin-right: 19px;
}
/* .Prato-Principal :last-child{
    margin-right: 0px;
}
.Bebida :last-child{
    margin-right: 0px;
}
.Sobremesa :last-child{
    margin-right: 0px;
} */
footer{
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer div{
    width: 364px;
    height: 61px;
    background-color:#cbcbcb ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    flex-direction: column;
    color: #FFFFFF;
}
.Selecionada{
    border: 5px solid #32B72F;
    
}
.Selecionada .Inner-Box{
    margin: 0px 10px;
}
/* .comidaSelecionada ion-icon{
    display: initial;
    color: #32B72F;
    width: 19px;
    height: 19px;
} */