* { box-sizing: border-box }
strong {
    font-weight: bold;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    background:#FAFAFA;
    display: flex;
    justify-content: center;
}
/* barra */
.barraDoTopo{
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;   
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    align-items: center;
}
.barraDoTopo .TopMobile{
    width: 100%;
    display: none;
    top:0px;
    right: 0px;
}
.bordinha{
    border-left: 1px solid #DBDBDB ;
    height: 22px;
    margin: 15px 10px 17px 10px ;
}
.boxDoTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 943px;
}
.barraDoTopo div{
    display: flex;
    align-items: center;
}
.logo{
    width: 103px;
    height: 29px;
}
.barraDePesquisa{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #DBDBDB;
    width: 215px;
    height: 26px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    color: #979797;
    background-color: #fafafa;    
}
.barraDePesquisa::placeholder
.iconesTopo{
    display: flex;
    justify-content: space-between;
    width: 148px;
}
.iconesTopo ion-icon{
    margin-left: 20px;
}

/* barra */


ion-icon{
    height: 22px;
    width: 22px;
}
/* conteudo */
.conteudo {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 943px;
}

.stories{
    width: 614px;
    height: 118px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;  
}
.perfis{
    width: 66px;
    height: 66px;
    background:url("imagens/stories_background.jpg");
    background-size: 66px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
}
.perfis img {
    width:56px ;
    height:56px ;
    border-radius: 28px;
}
.nomePerfil{
    display: flex;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    margin-top: 6px;
    
}
.stories ion-icon {
    position:absolute;
    right: 5px;
    top: 43px;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.publiBox{
    width: 612px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 24px;
    margin-bottom: 36px;
}
.publiBox img{
    width: 100%;
    margin-bottom: 10px;

}
.publiBox video{
    width:100%;
    margin-bottom: 10px;
    background-color: black;

}

.publiBarra img{
    width:32px ;
    height:32px ;
    border-radius: 16px;
    margin: 15px;
}
.publiBarra {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 61px;
    position: relative;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.publiBarra ion-icon{
    position: absolute;
    top: 22px;
    right: 17px;;
    width: 16px;
    height: 16px;
}

.topComent{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.ações ion-icon {
    margin-left: 14px; 
}
.save ion-icon{
    margin-right: 14px; 
}
.botComent{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 13px ;
    margin-top: 10px;
    width: 100%;
}
.botComent img{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 0px 5px 0px 17px;
}
.botComent p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
/* conteudo */
/* bottombar */
.BottomBar{
    display: none;
    width: 100%;
    height: 54px;
    background-color:#FFFFFF ;
    border-top: 1px;

}
/* bottombar */

/* sidebar */
.sideBar{
    height: 450px;
    position: fixed;
    /* background-color: pink; */
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.sidePerfil{
    height: 56px;
    display: flex;
    align-items: center;
}
.sidePerfil img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.conteudo .SideBox{
    width: 300px;
}
.sidePerfil h3,
.sidePerfil h4{
    margin-left: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.sidePerfil h4{
    font-weight: 300;
    color: #8E8E8E;
}
.Sugestoes{
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

}
.Sugestoes h3{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.Sugestoes h4{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}
.PerfilBox{
    width: 186px;
    height: 32px;
    display: flex;
}
.PerfilBox img{
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
.SugestoesBox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.NomePerfilSugerido{
    height: 31px;
}
.NomePerfilSugerido h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.NomePerfilSugerido h4{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.PerfisSugeridos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 16px;
}
.PerfisSugeridos p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}
h5{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
    margin-top: 33px;
}
h6{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
    margin-top: 18px;
}

@media screen and (max-width:935px) {
    .SideBox{
        display: none;
    }
    .conteudo{
        display: flex;
        justify-content: center;
    }
    .boxDoTopo :nth-child(1){
        margin-left: 20px;
    }
    .iconesTopo{
        margin-right: 16px;
    }
}
@media screen and (max-width:614px) {
    .barraDoTopo .TopMobile{
        display: flex;
        justify-content: space-between;
    }
    .barraDoTopo .boxDoTopo{
        display: none;
    }
    .TopMobile ion-icon{
        margin-left: 20px;
        margin-right: 16px;
    }
    .stories{
        background-color: #FAFAFA;
        border: 0px solid #FAFAFA;
        margin-bottom: 4px;
        width: 100%;
    }
    .conteudo{
        margin-top: 54px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .publiBox{
        margin-top: 0;
        margin-bottom: 60px;
        width: 100%;
    }
    .stories ion-icon{
        display: none;
    }
    .BottomBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }
    .BottomBar ion-icon{
        margin: 16px 20px;
    }
    .publis{
        width: 100%;
    }
    .engloba{
        width: 100%;
    }
}


